body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}


.name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.image img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.links {
    font-size: 1rem;
}

.links a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Times New Roman', Times, serif;
}

.links span {
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
    color: darkblue;
}

.clock {
    color: #000000;
    font-size: 15;
    font-weight: bold;
    padding-right: 23px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}


